﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MainPage.master.cs" Inherits="MainPage" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SCOTO :: HR Module</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />

    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/animate.min.css" rel="stylesheet" />
    <link href="assets/css/style.min.css" rel="stylesheet" />
    <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />

    <link href="assets/plugins/bootstrap-wizard/css/bwizard.min.css" rel="stylesheet" />
    <link href="assets/plugins/parsley/src/parsley.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />

    <link href="assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />

    <link href="assets/plugins/ModalPopup/CSS/Popup.css" rel="stylesheet" />
    <link href="assets/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" />

    <link href="assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="assets/plugins/DataTables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/DataTables/extensions/Responsive/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="assets/plugins/bootstrap-sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="assets/css/Custom.css" rel="stylesheet" type="text/css" />



    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <cc1:ToolkitScriptManager runat="server" EnableScriptGlobalization="true" EnableScriptLocalization="true"
            ID="ScriptManager1" EnablePartialRendering="true" AsyncPostBackTimeout="60000">
        </cc1:ToolkitScriptManager>
        <div>
            <div id="page-container" class=" page-sidebar-fixed page-header-fixed">

                <div id="header" class="header navbar navbar-default navbar-fixed-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a href="AttendDashBoard.aspx" class="logo-text">
                                <img src="assets/img/Logos/CompanyLogo.png" style="width: 30%; height: 30%" alt="SCOTO LOGO" /></a>
                            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <ul class="nav navbar-nav navbar-center">
                            <li>
                                <a href="#" class="dropdown-toggle waves-effect waves-button waves-classic" data-toggle="dropdown">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              
                                 
                                 
                                 
                                     <asp:Label ID="lblCompanyName" runat="server" class="user-name"
                                         Font-Bold="True" Font-Size="16" Font-Names="Aharoni" Text="Human Resource Management"></asp:Label>
                                </a>
                            </li>
                        </ul>
                        <%--<asp:ImageButton ID="btnModule_Home" runat="server" 
                                    ImageUrl="assets/img/Logos/home.png" onclick="btnModule_Home_Click" Width="7%" ></asp:ImageButton>--%>
                        <ul class="nav navbar-nav navbar-right">
                            <%--Go to Main Page--%>

                            <li runat="server" id="Mnu_Payroll_Link_ID"><a href="PayrollDashboard.aspx">
                                <img src="assets/img/Attendance/Pay_Icon.jpg" alt="" style="height: 40px;" /></a></li>
                            <li class="dropdown navbar-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="assets/img/login-bg/man-user.png" alt="" />
                                    <span class="hidden-xs">
                                        <asp:Label ID="lblCcode" runat="server"></asp:Label>
                                        <asp:Label ID="lblLcode" runat="server"></asp:Label>
                                    </span><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu animated fadeInLeft">
                                    <li class="arrow"></li>
                                    <li role="presentation"><a href="<%= ResolveUrl("ChangePassword.aspx") %>"><i class="fa fa-user"></i>Change Password</a></li>
                                    <li><a href="Default.aspx">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- end container-fluid -->


                </div>
                <!-- end #header -->
                <!-- begin #sidebar -->
                <div id="sidebar" class="sidebar">
                    <!-- begin sidebar scrollbar -->
                    <div data-scrollbar="true" data-height="100%">
                        <ul class="nav">
                            <li class="nav-profile">
                                <div class="image">
                                    <a href="javascript:;">
                                        <img src="assets/img/login-bg/man-user.png" alt="" /></a>
                                </div>
                                <div class="info">
                                    <asp:Label ID="lblUserID" runat="server"></asp:Label>

                                </div>
                            </li>
                        </ul>
                        <!-- end sidebar user -->

                        <!-- end sidebar scrollbar -->
                        <!-- begin sidebar nav -->
                        <ul class="nav">
                            <li class="nav-header">Navigation</li>
                            <li id="Menu_Dashboard" runat="server"><a href="AttendDashBoard.aspx"><i class="fa fa-laptop"></i><span>Dashboard</span></a></li>

                            <li class="has-sub" id="Menu_Master" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-suitcase"></i>
                                    <span>Master</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_UserCreation" runat="server"><a href="MstUserCreation.aspx">New User Creation</a></li>
                                    <li id="Menu_UserRights" runat="server"><a href="MstUserRights.aspx">User Rights</a></li>
                                    <li id="Menu_ReportRights" runat="server"><a href="ReportRights.aspx">Report Rights</a></li>
                                    <li id="Menu_HolidayMaster" runat="server"><a href="MstHoliday.aspx">Holiday </a></li>
                                    <li id="Menu_RouteMaster" runat="server"><a href="MstBusRoute.aspx">Route </a></li>
                                    <li id="Menu_OthersMaster" runat="server"><a href="MstDeptartment.aspx">Category Master</a></li>
                                    <li id="Menu_LabourAllotment" runat="server"><a href="MstLabourAllot.aspx">Employee Allotment</a></li>
                                    <li id="Menu_Bank" runat="server"><a href="MstBank.aspx">Bank</a></li>
                                    <li id="Menu_Agent" runat="server"><a href="MstAgent.aspx">Agent</a></li>
                                    <li id="Menu_Grade" runat="server" visible="false"><a href="MstGrade.aspx">Grade</a></li>
                                    <li id="Menu_RecruitOff" runat="server"><a href="MstRecruitOfficer.aspx">Recruitment Officer</a></li>
                                    <li id="Menu_Qualify" runat="server"><a href="MstQualify.aspx">Qualification</a></li>
                                    <li id="Menu_DeActive" runat="server"><a href="DeActiveDays.aspx">DeActive Days</a></li>
                                    <%--<li id="Menu_MessMst" runat="server"><a href="MstMessTiming.aspx">Mess Timing</a></li>--%>
                                    <li id="Menu_CommTypeMst" runat="server"><a href="MstCommissionType.aspx">Increment Type</a></li>
                                    <%--<li id="Menu_RecruitmentCommMst" runat="server" ><a href="MstDoctor.aspx">Doctor Master </a></li>--%>
                                    <li id="Menu_CommunityMst" runat="server"><a href="MstCommunity.aspx">Community  </a></li>
                                    <%--<li id="Menu_MedicalMst" runat="server"><a href="MstMedical.aspx">Medical  </a></li>--%>
                                    <li id="Menu_AdminRightsMSt" runat="server"><a href="MstAdminRights.aspx">Admin Rights  </a></li>
                                    <li id="Menu_LunchTimingMst" runat="server"><a href="MstLunchTiming.aspx">Lunch Timing</a></li>
                                    <li id="Menu_DeptIncMst" runat="server"><a href="DeptIncMst.aspx">Dept Incentive Type</a></li>
                                    <li id="Menu_FineMst" runat="server"><a href="MstFine.aspx">Fine Master</a></li>
                                    <li id="MstLatePunchTime" runat="server"><a href="MstLatePunchTime.aspx">Late Punch Master</a></li>
                                    <li id="MstPacking" runat="server"><a href="MstPacking.aspx">Packing Rate</a></li>
                                    <li id="MstWeekSalary" runat="server"><a href="MstWeekSalary.aspx">Week Salary</a></li>
                                    <%--<li id="MstWagesSalary" runat="server" ><a href="Wages_Rate.aspx">Wages Salary</a></li>--%>
                                    <li id="MstHindiCategory" runat="server"><a href="MsthindiCat.aspx">Hindi Category Master</a></li>
                                    <li id="MstShiftType" runat="server"><a href="MstShiftType.aspx">Shift Type Master</a></li>
                                    <li id="MstGrassTime" runat="server"><a href="MstInTimeGrassTime.aspx">IN TIME Grass Time Master</a></li>
                                    <li id="MstGrassOTTime" runat="server"><a href="MstTimeIN.aspx">Grass & OT Time Master</a></li>
                                    <li id="MstLateIN" runat="server"><a href="MstLateIN.aspx">Late IN Master</a></li>
                                    <li id="MstCommissionHindi" runat="server"><a href="MstComissionHindi.aspx">Hindi Group Commission</a></li>
                                    <li id="MstEarlyOUT" runat="server"><a href="MstEarlyOut.aspx">Early Out Time Set</a></li>
                                     <li id="MstMillIncentiveDay" runat="server"><a href="MstMillIncentiveDay.aspx">Mill Incentive Days</a></li>
                                    <%--<li id="MstMasthiri" runat="server" ><a href="Masthiri_Incentive.aspx">Masthiri Incentive</a></li>--%>
                                </ul>
                            </li>

                            <li class="has-sub" id="Menu_BiometricMachine" runat="server">
                                <a href="#">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-inbox"></i>
                                    <span>Biometric Machine</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_DownLoad" runat="server"><a href="DownLoadClear.aspx">Download / Clear</a></li>
                                    <%--<li id="Menu_Finger_Download_Upload" runat="server"><a href="Finger_Download_Upload.aspx">Download / Upload</a></li>--%>
                                    <li id="MstMachine" runat="server"><a href="Machine.aspx">Machine</a></li>

                                </ul>
                            </li>
                            <li class="has-sub" id="Menu_Wages" runat="server">
                                <a href="#">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-inbox"></i>
                                    <span>Basic Wages</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_SalaryUpdate" runat="server"><a href="SalaryUpdate.aspx">Salary Update</a></li>
                                    <li id="Menu_SalaryApprove" runat="server"><a href="SalaryApprove.aspx">Salary Approve</a></li>
                                    <li id="Menu_SalaryCorrectionList" runat="server"><a href="SalaryCorrectList.aspx">Salary Rejected</a></li>
                                    <li id="Menu_SalaryApprvList" runat="server"><a href="SalaryApproveList.aspx">Salary Approved List</a></li>
                                </ul>
                            </li>
                            <li class="has-sub" id="Menu_EmployeeProfile" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-file-o"></i>
                                    <span>Employee Profile</span>
                                </a>
                                <ul class="sub-menu">

                                    <li id="Menu_EmployeeDetails" runat="server"><a href="Employee_Main.aspx">Employee Details</a></li>
                                    <li id="Menu_EmployeeApproval" runat="server"><a href="EmployeeApproval.aspx">Employee Approval</a></li>
                                    <li id="Menu_EmployeeStatus" runat="server"><a href="EmployeeStatus.aspx">Employee Status</a></li>


                                    <%--<li id="Menu_Education" runat="server"><a href="Education.aspx">Education</a></li>
                            <li id="Menu_EducationHistRpt" runat="server"><a href="EducationHisRpt.aspx">Education History</a></li>
                            
                            <li id="Menu_MedGatePAss" runat="server"><a href="MedicalGatePassMain.aspx">Medical Gate Pass</a></li>
                            <li id="Menu_MedicalDet" runat="server"><a href="MedicineDetMain.aspx">Medical Record</a></li>
                            <li id="Menu_MedGatePAssReport" runat="server"><a href="MedicalGatePassReport.aspx">Medical Gate Pass Report</a></li>
                            <li id="Menu_MedicalDetReport" runat="server"><a href="MedicalDetailsReport.aspx">Medical Details Report</a></li>--%>
                                </ul>
                            </li>
                            <li class="has-sub" id="Menu_ManualEntry" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-bars"></i>
                                    <span>Manual Entry</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_ManualAttendance" runat="server"><a href="ManualAttendance.aspx">Manual Attendance</a></li>
                                    <li id="Menu_ManualOT" runat="server"><a href="WeeklyOTHrs.aspx">Weekly OT Hours</a></li>
                                    <%--<li id="Menu_SalaryOT" runat="server"><a href="WeeklyOThrs_IF.aspx">Salary OT Hours</a></li>--%>
                                    <li id="Menu_ManualLeave" runat="server"><a href="LeaveDetails.aspx">Manual Leave</a></li>
                                    <li id="Menu_LeaveApprove" runat="server"><a href="LeaveApprove.aspx">Leave Approve</a></li>
                                    <li id="Menu_ManualTimeDelete" runat="server"><a href="MstTimeDelete.aspx">Manual Time Delete</a></li>
                                    <li id="Menu_OnDuty" runat="server"><a href="OnDutyProcessMain.aspx">On Duty Process</a></li>
                                </ul>
                            </li>
                            <li class="has-sub" id="Menu_SalaryProcess" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-bars"></i>
                                    <span>Salary Process</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_Allowance" runat="server"><a href="AllowanceDeduction.aspx">Allowance / Deduction</a></li>
                                    <li id="Menu_Epay" runat="server"><a href="EpayTransfer.aspx">Epay Transfer</a></li>
                                    <li id="Menu_Voucher" runat="server"><a href="VoucherEntry.aspx">Voucher Entry</a></li>
                                    <li id="Menu_HindiGroupCommision" runat="server"><a href="HindiGroupCommision.aspx">HindiGroupCommision</a></li>
                                    <li id="Menu_DeptIncentive" runat="server"><a href="DeptIncentive.aspx">Department Incentive</a></li>
                                    <li id="Menu_Canteen" runat="server"><a href="CanteenTrans.aspx">Canteen</a></li>

                                </ul>
                            </li>


                            <li id="Menu_Report" runat="server"><a href="Report.aspx"><i class="fa fa-laptop"></i><span>Report</span></a></li>
                            <li class="has-sub" id="Menu_MDReport" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-bars"></i>
                                    <span>MIS Report</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="MD_Dashboard" runat="server"><a href="MDDashBoard.aspx">DashBoard1</a></li>
                                    <li id="MD_DashBoard1" runat="server"><a href="DashBoard2.aspx">DashBoard2</a></li>
                                    <li id="MD_UnitwiseRpt" runat="server"><a href="unitwiseSalary.aspx">Unitwise Salary Consumed</a></li>
                                    <li id="MD_LeftNewRpt" runat="server"><a href="LeftNewJoiningReport.aspx">New Joinee and Left Employee Report</a></li>
                                    <li id="MD_SalaryCoverRpt" runat="server"><a href="SalaryCoverSummaryMD.aspx">Salary Cover Summary</a></li>
                                    <li id="MD_AllUnitConsRpt" runat="server"><a href="AllUnitConsolidateReport.aspx">All Unit Consolidate Report</a></li>
                                    <li id="MD_UnitwiseFine" runat="server"><a href="MDFineReport.aspx">Unitwise Fine Report</a></li>
                                    <li id="MD_RecruitmentRpt" runat="server"><a href="MDRecruiterReport.aspx">Recruitment Report</a></li>

                                    <li id="MD_AllotmentRpt" runat="server"><a href="DeptAllotmentReport.aspx">Alloment Report</a></li>
                                    <li id="MD_CostRpt" runat="server"><a href="CostingAllotment.aspx">Costing Vs Alloment</a></li>
                                    <li id="MD_UnitwiseCanteen" runat="server"><a href="#">Unitwise Canteen</a></li>
                                    <li id="MD_DayAttnManRpt" runat="server"><a href="DayattnManDaysMD.aspx">Day Attn. ManDays with %</a></li>
                                    <li id="MD_DayDeptRpt" runat="server"><a href="DayReportDeptSummaryMD.aspx">Day Report Department Summary</a></li>
                                    <li id="MD_EmpProfRpt" runat="server"><a href="EmployeeFullProfileMD.aspx">Employee Full Profile</a></li>
                                    <%--   <li id="MD_DocProcess" runat="server"><a href="Documentprocess.aspx">Documentprocess</a></li>
                                    --%>
                                </ul>
                            </li>
                            <%--  <li class="has-sub" id="Menu_TrainingModule" runat="server">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="fa fa-bars"></i>
                            <span>Training Module</span>
                        </a>
                        <ul class="sub-menu">
                            <li id="Menu_TrainDays" runat="server"><a href="TrainingDays.aspx">TrainingDays</a></li>
                            <li id="Menu_TrainStatus" runat="server"><a href="TrainingStatus.aspx">TrainingStatus</a></li>
                            <li id="Menu_TrainingRpt" runat="server"><a href="TrainingModuleReport.aspx">Training Report</a></li>
                        </ul>
                    </li>--%>
                            <li class="has-sub" id="Menu_Commision" runat="server">
                                <a href="javascript:;">
                                    <b class="caret pull-right"></b>
                                    <i class="fa fa-bars"></i>
                                    <span>Commission</span>
                                </a>
                                <ul class="sub-menu">
                                    <li id="Menu_CommisionVoucher" runat="server"><a href="CommmisionVoucher_Main.aspx">Commission Voucher</a></li>

                                    <%--<li id="Menu_CommisionRecovery" runat="server"><a href="CommisionRecovery_Main.aspx">Commission Recovery</a></li>
                            <li id="Menu_CommisionVoucherReport" runat="server"><a href="CommmisionVoucher_Report.aspx">Commission Voucher Report</a></li>
                            <li id="Menu_CommisionRecoveryreport" runat="server"><a href="CommisionRecovery_Report.aspx">Commission Recovery Report</a></li>
                            <li id="Menu_CommissionTransactionLedgerreort" runat="server"><a href="CommissonTransactionLedger_Report.aspx">Commission Transaction Report</a></li> 
                            <li id="Menu_CommRecPendingRpt" runat="server"><a href="CommissionRecoveryPending.aspx">Commission Recovery Pending</a></li> --%>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="sidebar-bg"></div>


                <%--<asp:UpdatePanel ID="UpdatePanel1" runat="server">
                        <ContentTemplate>--%>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>

                <footer>
            <div class="breadcrumb pull-center">
                <img src="assets/img/Office.png" />
                2017 &copy; Scoto Systec Pvt Ltd.
            </div>

        </footer>
                <%--</ContentTemplate>
   </asp:UpdatePanel>--%>
            </div>
        </div>

        <script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
        <script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
        <script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
        <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>

        <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
        <script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>


        <script src="assets/plugins/bootstrap-wizard/js/bwizard.js"></script>
        <script src="assets/js/form-wizards.demo.min.js"></script>

        <script src="assets/plugins/parsley/dist/parsley.js"></script>
        <script src="assets/js/apps.min.js"></script>
        <script src="assets/js/ui-modal-notification.demo.min.js"></script>
        <script src="assets/plugins/bootstrap-daterangepicker/moment.js"></script>
        <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="assets/plugins/select2/dist/js/select2.min.js"></script>

        <script src="assets/js/form-plugins.demo.min.js"></script>
        <script src="assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
        <script src="assets/plugins/select2/js/select2.min.js"></script>

        <script src="assets/plugins/DataTables/media/js/jquery.dataTables.js"></script>
        <script src="assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js"></script>
        <script src="assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
        <script src="assets/js/table-manage-default.demo.min.js"></script>

        <script src="assets/plugins/bootstrap-sweetalert/sweetalert.min.js"></script>

        <script type="text/javascript">
            function SaveMsgAlert(msg) {
                swal(msg);
            }
        </script>


        <script>
            $(document).ready(function () {
                App.init();
                FormWizard.init();

                $('.select2').select2();
                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true
                });
                $("#wizard").bwizard();

            });
        </script>
    </form>

</body>
</html>
