﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MainPage.master" AutoEventWireup="true" CodeFile="MstWeekSalary.aspx.cs" Inherits="MstWeekSalary" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">



<script src="assets/js/master_list_jquery.min.js"></script>
<script src="assets/js/master_list_jquery-ui.min.js"></script>
<link href="assets/css/master_list_jquery-ui.css" rel="stylesheet" type="text/css"/>
 <script>
     $(document).ready(function() {
     $('#example').dataTable();
     $('.datepicker').datepicker({
         format: "dd/mm/yyyy",
         autoclose: true
     });
     });
 </script>


<script type="text/javascript">
    //On UpdatePanel Refresh
    var prm = Sys.WebForms.PageRequestManager.getInstance();
    if (prm != null) {
        prm.add_endRequest(function(sender, e) {
            if (sender._postBackSettings.panelsToUpdate != null) {
                $('#example').dataTable();
                $('.select2').select2();
                $('.datepicker').datepicker({
                    format: "dd/mm/yyyy",
                    autoclose: true
                });
            }
        });
    };
</script>
<asp:UpdatePanel ID="UpdatePanel5" runat="server">
                                <ContentTemplate>
<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Manual</a></li>
				<li class="active">Packing Master</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Packing Master</h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
                <!-- begin col-12 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
                    <div class="panel panel-inverse">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                            </div>
                            <h4 class="panel-title">Employee Packing Rate</h4>
                        </div>
                        <div class="panel-body">
                        <div class="form-group">
                        <!-- begin row -->
                          <div class="row">
                            <!-- begin col-4 -->
                              <div class="col-md-2">
								<div class="form-group">
								 <label>Employee Type</label>
								<asp:DropDownList ID="ddlType" class="form-control" AutoPostBack="true" OnTextChanged="ddlType_TextChanged" runat="server"></asp:DropDownList>
								</div>
                               </div>
                           <!-- end col-4 -->
                              </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                            <div class="col-md-1">
							   <div class="form-group">
								<label>Day1</label>
								<asp:TextBox runat="server" ID="txtDay1" class="form-control"></asp:TextBox>
								</div>
                             </div>
                           <!-- end col-4 -->
                           <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day2</label>
                          <asp:TextBox runat="server" ID="txtDay2" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day3</label>
                          <asp:TextBox runat="server" ID="txtDay3" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day4</label>
                          <asp:TextBox runat="server" ID="txtDay4" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day5</label>
                          <asp:TextBox runat="server" ID="txtDay5" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day6</label>
                          <asp:TextBox runat="server" ID="txtDay6" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <!-- begin col-4 -->
                           <div class="col-md-1">
                            <div class="form-group">
                           <label>Day7</label>
                          <asp:TextBox runat="server" ID="txtDay7" class="form-control"></asp:TextBox>
                          </div>
                         </div>
                           <!-- end col-4 -->
                                     <div class="row">
                         <div class="col-md-4"></div>
                           <!-- begin col-4 -->
                                <div class="col-md-4">
								 <div class="form-group">
									<br />
									<asp:Button runat="server" id="btnSave" Text="Save" class="btn btn-success" 
                                         onclick="btnSave_Click"/>
									<asp:Button runat="server" id="btnClear" Text="Clear" class="btn btn-danger" 
                                         onclick="btnClear_Click" />
								 </div>
                               </div>
                              <!-- end col-4 -->
                              <div class="col-md-4"></div>
                         </div>
                        <!-- end row -->  
                    <!-- table start -->
					<div class="col-md-12">
					    <div class="row">
					        <asp:Repeater ID="Repeater1" runat="server" EnableViewState="false">
			                    <HeaderTemplate>
                                    <table id="example" class="display table">
                                        <thead>
                                            <tr>
                                                
                                                <%--<th>Machine ID</th>--%>
                                                <th>S.No</th>
                                                <th>Category</th>
                                                <th>Day1</th>
                                                <th>Day2</th>
                                                <th>Day3</th>
                                                <th>Day4</th>
                                                <th>Day5</th>
                                                <th>Day6</th>
                                                <th>Day7</th>
                                                <th>Mode</th>
                                            </tr>
                                        </thead>
                                </HeaderTemplate>
                                <ItemTemplate>
                                    <tr>
                                        <%--<td><%# Eval("MachineID")%></td>--%>
                                        <td><%# Container.ItemIndex+1 %></td>
                                        <td><%# Eval("EmpCatName")%></td>
                                        <td><%# Eval("Day1")%></td>
                                        <td><%# Eval("Day2")%></td>
                                        <td><%# Eval("Day3")%></td>
                                        <td><%# Eval("Day4")%></td>
                                        <td><%# Eval("Day5")%></td>
                                        <td><%# Eval("Day6")%></td>
                                        <td><%# Eval("Day7")%></td>
                                        <td>
                                        <asp:LinkButton ID="btnEditIssueEntry_Grid" class="btn btn-primary btn-sm fa fa-pencil"  runat="server" 
                                                        Text="" OnCommand="btnEditIssueEntry_Grid_Command" CommandName="Edit"  CommandArgument='<%# Eval("EmpCatName")%>' >
                                        </asp:LinkButton>
                                       
                                        <asp:LinkButton ID="btnDeleteEnquiry_Grid" class="btn btn-danger btn-sm fa fa-trash-o"  runat="server" 
                                          Text=""  CommandArgument='<%# Eval("EmpCatName")%>'
                                         CausesValidation="true" OnCommand="btnDeleteEnquiry_Grid_Command" CommandName="Delete" OnClientClick="return confirm('Are you sure you want to delete this details?');">
                                        </asp:LinkButton>
                                        </td>
                                    </tr>
                                </ItemTemplate>
                                <FooterTemplate></table></FooterTemplate>                                
			                </asp:Repeater>
					    </div>
					</div>
					<!-- table End -->
					
                       <!-- begin row -->  
                        
                        </div>
                        </div>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-12 -->
            </div>
            <!-- end row -->
        </div>
<!-- end #content -->
</ContentTemplate>
</asp:UpdatePanel>

</asp:Content>

