﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="UnitIIConversion.aspx.cs" Inherits="UnitIIConversion" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>UNIT II</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <asp:TextBox runat="server" ID="txtFromDate" Visible="false"></asp:TextBox>
    <asp:TextBox runat="server" ID="txtToDate" Visible="false"></asp:TextBox>
    <asp:Label ID="lblDispaly" runat="server" Text=""></asp:Label>
    </div>
    </form>
</body>
</html>
