﻿/* Write your custom CSS here */
.mandatory
{
	color: red;
}

.txtcenter
{
    text-align: center;
}
.content_right
{
	float:right;
	display: inline-flex;
}
legend
{
	    width: 50% !important;
	    border-bottom:0px !important;
}
.mandatory
{
	color: red;
}

.scroll-table
{
    min-height: .01%;
    overflow-x: auto;
    overflow-y: auto;
    max-width: 800px;
    max-height: 400px;
    overflow: scroll;
    height: 600px;
}

#notify_loader,#Download_loader,#datewise_loader
{
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('../img/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}